.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 160px;
  background-color: #000;
  margin: 100px 0 0;
  /* margin: 100px 0 40px; */
  text-align: center;
}

.footer p {
  margin: 5px 0;
}

/* Social Group */
.socialGroup{
  display: flex;
  flex-direction: row;
}

.socialIcon a{
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 0 12px;
}

.socialIcon a:hover{
  color: #a117f2;
}
