@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  background-color: #121212;
  color: #fff;
}

a {
  text-decoration: none;
  color: #a117f2;
}

p {
  margin: 10px 0;
  color: #b3b3b3;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: #a117f2;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  cursor: pointer;
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon svg {
  margin-right: 5px;
}
